<!DOCTYPE html>
<html lang=es>

<head>
    {% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'styles/avisos_mascotas_perdidas.css' %}">
    <link rel="stylesheet" href="{% static 'styles/basic.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {% include "superior.html"%}

    <div>
        <ul id="barra">
            <li><a class="link" href="{% url 'inicio' %}">Inicio</a> </li>
            <li><a class="link orange" href="{% url 'mascotas_perdidas' %}">Mascotas Perdidas</a> </li>
            <li><a class="link" href="{% url 'avisos_adopcion' %}">Mascotas en Adopción</a> </li>
        </ul>
    </div>

    <!-- TABS-->
    <div>
        <div class=tabs>
            <div>
                <button class="tablink" onclick="openPage('Todos_los_Avisos', this, '#f29d46')" id="defaultOpen">
                    <span> Todos los Avisos</span>
                </button>
                {% if user.is_authenticated %}
                <button class="tablink" onclick="openPage('Mis_Avisos', this, '#f29d46')"> <span>Mis
                        Avisos</span></button>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <div>
                <a href="{% url 'formulario_perdidas' %}">
                    <img class="img-button" src="{% static 'images/boton_busqueda.jpg' %}" alt="">
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    <div id="Todos_los_Avisos" class="tabcontent">
        <div class="title-nav">
            <span class="title">Todos los Avisos</span>
            <div style="padding-top: 15px; padding-bottom: 15px;">
                <form method="GET">
                    <input type="text" placeholder="Buscar" name="buscar">
                    <button type="submit"> Buscar </button>
                </form>
            </div>
        </div>
        <div class="avisos">
            {% block content %}
            {% for aviso in todos%}
            <div class="aviso">
                <img src="{{aviso.Foto.url}}" alt="">
                <h2>{{aviso.Titulo}}</h2>
                <h3>{{aviso.Comuna}}, {{aviso.Region}} ({{aviso.Fecha}})</h3>
                <p> {{aviso.Descripcion}} </p>
                <h3>Detalles:</h3>
                <div class="detalles">
                    <p>Animal: {{aviso.Tipo_Animal}}</p>
                    <p>Sexo: {{aviso.Sexo}}</p>
                </div>
            </div>
            {% endfor %}
            {% endblock %}
        </div>

    </div>


    {% if user.is_authenticated %}
    <div id="Mis_Avisos" class="tabcontent">
        <span class="title">Mis Avisos</span>

        <div class="avisos">
            {% for aviso in mis_avisos%}
            <div class="aviso">
                <img src="{{aviso.Foto.url}}" alt="">
                <h2>{{aviso.Titulo}}</h2>
                <button class="btn"><i class="fa fa-trash"></i> <a href="{% url 'mp_remove' pk=aviso.pk %}"
                        style="text-decoration: none; color: white;"> Eliminar </a> </button>
                <h3>{{aviso.Comuna}}, {{aviso.Region}} ({{aviso.Fecha}})</h3>
                <p> {{aviso.Descripcion}} </p>
                <h3>Detalles:</h3>
                <div class="detalles">
                    <p>Animal: {{aviso.Tipo_Animal}}</p>
                    <p>Sexo: {{aviso.Sexo}}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    {% endif %}

    <!-- SCRIPT TABS -->
    <script>
        function openPage(pageName, elmnt, color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "#f6f6f6";
                tablinks[i].style.color = "black";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

</body>