<!DOCTYPE html>
<html lang=es>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'styles/basic.css' %}">
        <link rel="stylesheet" href="{% static 'styles/form.css' %}">
        <script src="{% static 'js/funciones.js' %}"></script>
    </head>

    <body>
        {% include "superior.html"%}

        <div> 
            <div> 
                <!-- Más recientes (conversar como pasar info)-->
            </div>
            <div> 
                <div>
                    <button type="button" onclick="abrir('modalForm')">Reportar Mascota</button>
                </div>
                <div> 
                    <!-- dar en adopcion -->
                </div>
            </div>
        </div>
        <div id="modalForm" class="modal oculto"> 
            <div class="modal-content2">
                <form method="post" id="formulario" onsubmit="return validar()">
                    <div class="error oculto" id="error">
                        <p>error</p>
                    </div>
                    <div class="informe palido" id="domicilio">
                        <h3>Datos del Domicilio</h3>
                        <div class="entrada">
                            <h4>Región:</h4>
                            <select name="region" id="region" required onchange="comunasgenerate()">
                            <option value="">Seleccione su Region</option>
                            <option value="Región Metropolitana de Santiago">Región Metropolitana de Santiago</option>
                            <option value="Región de Arica y Parinacota">Región de Arica y Parinacota</option>
                            <option value="Región de Tarapacá">Región de Tarapacá</option>
                            <option value="Región de Antofagasta">Región de Antofagasta</option>
                            <option value="Región de Atacama">Región de Atacama</option>
                            <option value="Región de Coquimbo">Región de Coquimbo</option>
                            <option value="Región de Valparaíso">Región de Valparaíso</option>
                            <option value="Región del Libertador Gral. Bernardo O Higgins">Región del Libertador Gral. Bernardo O Higgins</option>
                            <option value="Región del Maule">Región del Maule</option>
                            <option value="Región de Ñuble">Región de Ñuble</option>
                            <option value="Región del Biobío">Región del Biobío</option>
                            <option value="Región de la Araucanía">Región de la Araucanía</option>
                            <option value="Región de Los Ríos">Región de Los Ríos</option>
                            <option value="Región de Los Lagos">Región de Los Lagos</option>
                            <option value="Región Aisén del Gral. Carlos Ibáñez del Campo">Región Aisén del Gral. Carlos Ibáñez del Campo</option>
                            <option value="Región de Magallanes y de la Antártica Chilena">Región de Magallanes y de la Antártica Chilena</option>
                            </select>
                        
                            <h4>Comuna:</h4>
                            <select name="comuna" id="comuna" required>
                                <option value="">Seleccione su Comuna</option>
                            </select>
                        </div>
                    </div>
                    <div class="informe palido">
                        <div class= "oculto" id="infomascota">
                            <h3>Informacion Mascota</h3>
                        <div class="entrada">
                            <h4>Tipo:</h4>
                                <select name="tipo-mascota" onchange="addOtro(this)">
                                    <option value="">Seleccione el tipo</option>
                                    <option value="perro">perro</option>
                                    <option value="gato">gato</option>
                                    <option value="pez">pez</option>
                                    <option value="tortuga">tortuga</option>
                                    <option value="hámster">hámster</option>
                                    <option value="loro">loro</option>
                                    <option value="iguana">iguana</option>
                                    <option value="araña">araña</option>
                                    <option value="otro">otro</option>
                                </select>
                                <input class="oculto" type="text" name="tipo-mascota-otro" size=40 maxlength=40>
                            <h4>Sexo:</h4>
                            <select name="sexo-mascota">
                                <option value="">Seleccione el sexo</option>
                                <option value="Macho">Macho</option>
                                <option value="Hembra">Hembra</option>
                                <option value="No Aplica">No Aplica</option>
                            </select>
                        </div>
                        <div class="entrada">
                                <h4>Fotos:</h4>
                                <input class="especial" type="file" name="foto-mascota" id="foto-mascota">
                                <button type="button" onclick="duplicar('foto-mascota',this)">agregar otra foto</button>
                        </div>
                        </div>
                        <div class="palido">
                            <h3>Informacion Mascota</h3>
                        <div class="entrada">
                            <h4>Tipo:</h4>
                                <select name="tipo-mascota" required onchange="addOtro(this)">
                                    <option value="">Seleccione el tipo</option>
                                    <option value="perro">perro</option>
                                    <option value="gato">gato</option>
                                    <option value="pez">pez</option>
                                    <option value="tortuga">tortuga</option>
                                    <option value="hámster">hámster</option>
                                    <option value="loro">loro</option>
                                    <option value="iguana">iguana</option>
                                    <option value="araña">araña</option>
                                    <option value="otro">otro</option>
                                </select>
                                <input class="oculto" type="text" name="tipo-mascota-otro" size=40 maxlength=40>

                            <h4>Sexo:</h4>
                            <select name="sexo-mascota">
                                <option value="">Seleccione el sexo</option>
                                <option value="Macho">Macho</option>
                                <option value="Hembra">Hembra</option>
                                <option value="No Aplica">No Aplica</option>
                            </select>
                        </div>
                        <div>
                                <h4 style="width: 100%">Fotos:</h4>
                                <input class="especial" type="file" name="foto-mascota">
                                <button type="button" onclick="duplicar('foto-mascota',this)">agregar otra foto</button>
                        </div>
                        </div>
                    </div>
                    <div class="buttons">
                       <!-- <button type="button" onclick="duplicar('infomascota',this)">agregar otra mascota</button> -->
                       <button type="button" onclick="achicar('modalForm')">Cancelar</button>
                        <button type="button" onclick="abrir('modalConfirmacion')">Publicar Post</button>
                    </div>
                    
                </form>
            </div>
        </div>

        <div id="modalConfirmacion" class="modal oculto"> 
            <div class="modal-content2" style="width: 60%">
                <h4>¿Esta seguro que desea enviar esta información?</h4>
                <div class="buttons">
                    <button type="button" onclick="achicar('modalConfirmacion')">No estoy seguro</button>
                    <button type="submit" onclick="achicarDos()">Si, estoy total y absolutamente seguro</button>
                </div>
            </div>  
        </div>
    </body>
</html>