<html>
    <head>
        
    </head>

    <body>
        {% include "superior.html"%}

        <div> 
            <div> 
                <!-- Más recientes (conversar como pasar info)-->
            </div>
            <div> 
                <div>
                    <!-- reportar mascota --> 
                </div>
                <div> 
                    <!-- dar en adopcion -->
                </div>
            </div>
        </div>
        <div class="modal"> 
            <!-- lo que se quiere ver en el modal -->
            
        </div>

        <div class="modal"> 
            <!-- modal dentro del modal -->
            
        </div>
    </body>

</html>