<html>
    <head>
        <link rel="stylesheet" href="styles/superior.css">
    </head>
    <body>
        <div> 
            <img id="logo" src="logo.png" alt="">
            <div>Usuario</div>
            <!-- Esta parte hay que arreglarla cuando se creen los usuarios -->
        </div>
        
        <div> 
            <img id="portada" src="" alt="">
        </div>

        <div> 
            <ul id="barra">
                <li><a href="https://www.google.com">Inicio</a> </li>
                <li><a href="https://www.google.com">Mascotas Perdidas</a> </li>
                <li><a href="https://www.google.com">Mascotas en Adopción</a> </li>
            </ul>
        </div>
        
    </body>
</html>