<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles/superior.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="topnav">

            <img src="logo.png" alt="" width="80" height="80">

            <a href="https://www.google.com"> <i class="fa fa-fw fa-user"></i> Usuario</a>
            <!-- Esta parte hay que arreglarla cuando se creen los usuarios -->
        </div>
        
        <div> 
            <img id="portada" src="header.jpg" alt="">
        </div>

        <div> 
            <ul id="barra">
                <li><a href="https://www.google.com">Inicio</a> </li>
                <li><a href="https://www.google.com">Mascotas Perdidas</a> </li>
                <li><a href="https://www.google.com">Mascotas en Adopción</a> </li>
            </ul>
        </div>
        
    </body>
</html>