<html>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/superior.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'styles/basic.css' %}">
</head>

<body>
    <div class="topnav">

        <img src="{% static 'images/logo_1.png' %}" alt="">
        <div class="login">
            {% if user.is_authenticated %}

            <a class="link" href="https://www.google.com"> <i class="fa fa-fw fa-user"></i> Usuario</a>
            <!-- Esta parte hay que arreglarla cuando se creen los usuarios -->
            <a class="link" href="{% url 'logout_user' %}">Cerrar sesión</a>
            {% else %}
            <h5>Iniciar sesión</h5>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre_usuario">Nombre</label>
                    <input type="text" class="form-control" id=nombre_usuario name="nombre_usuario" required>
                </div>
                <div class="form-group">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" class="form-control" id="contraseña" name="contraseña" required>
                </div>
                <div class="buttons">
                    <button type="submit">Entrar</button>
                    <a href="{% url 'register_user' %}"><button type="button">Registrarse</button></a>
                </div>
            </form>
            {% endif %}
        </div>
    </div>

    <div>
        <img src="{% static 'images/header.png' %}" alt="">
    </div>

    <div>
        <ul id="barra">
            <li><a class="link" href="{% url 'inicio' %}">Inicio</a> </li>
            <li><a class="link" href="{% url 'mascotas_perdidas' %}">Mascotas Perdidas</a> </li>
            <li><a class="link" href="{% url 'avisos_adopcion' %}">Mascotas en Adopción</a> </li>
        </ul>
    </div>

</body>

</html>