.boton_ver{
    float : center;
    width: 100%;
    justify-content: space-between;
}

.boton_ver button {
    width: 30%;
    margin: 0 5px;
}

.mitad_izq{
    float: left;
    width: 50%;
}

.mitad_der{
    float: right;
    width: 50%;
}
