.bloque_principal {
    background-color: #f6f6f6;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 15px;
    

}

.bloque_der {
    float: right;
    width: 30%;
}

.bloque_izq {
    float: left;
    width: 70%;
}


