.bloque_principal {
    background-color: #f6f6f6;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 15px;
    

}

.button-container {
    text-align: right; 
}

.img-button {
    width: 50%;
    padding: 10px;
}

.bloque_der {
    float: right;
    width: 30%;
}

.bloque_izq {
    float: left;
    width: 70%;
}

.aviso-foto{
  width: 50% !important;
  height: 25vw;
  object-fit: cover;
  border: 5px solid black;
}