body{
    background: #a7e351;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
.content{
    width: 85%;
    margin: auto;
    margin-top: 10vh;
    padding-bottom: 5vh;
    background: white;
    border:#000 solid 1px;
}

h1 {
    margin: 8vh 0 6vh 0;
    text-align: center;
    font-size: 8vh;
}

form{
    width: 50%;
    margin: auto;
}


label {
    display: inline-block;
    width: 45%;
    text-align: left;
    font-size: 2.7vh;
    margin-right: 10px;
}

input {
    width: 40%; 
    font-size: 2vh;
    padding: 5px 10px;
    border-width: 2px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 25px;
    box-shadow: 1px 0px 5px rgba(66,66,66,.75);
}

.form-group{
    margin: 1vh 0;
}

.buttons{
    margin: auto;
    margin-top: 8vh;
    width: 80%;
}

button{
    font-size: 2vh;
    height: 5vh;
    padding: 5px 25px;
    width: auto;
}

